@charset "utf-8";
/* CSS Document */
html, table {
    font-family: Arial, "微软雅黑";
    font-size: 14px;
    line-height: 22px;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1100px;
    color: #535353;
    line-height: 24px;
    background: #FFF url(../img/bg.jpg) repeat-x;
}

/*.container {*/
/*width: auto !important;*/
/*margin-left: 60px;*/
/*margin-right: 60px;*/
/*}*/

a, a:hover, a:link  ,a:visited, a:active, a:hover{
    text-decoration: none !important;
}

.clear {
    clear: both
}

p {
    margin-top: 0;
    line-height: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top_div {
    height: 39px;
    line-height: 39px;
    background: #0b2153;
    color: #bbd5ee;
    padding: 0px;
}

.login_div {
    text-align: right;
}

.login_div a {
    color: #bbd5ee;
}

.login_div a:hover {
    color: #fff;
}

.con_div {
    background: url(../img/bg_img.jpg) center top no-repeat;
    min-height: 600px;
}

.tatle_div {
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    height: 90px;
    line-height: 90px;
    padding: 0px;
}

.nav_div {
    height: 45px;
    border-radius: 26px !important;
    background: #0363c4;
    border: #78afed 1px solid;
    padding-top: 13px;
}

.nav_div table td {
    text-align: center; /* border-right:#3d83d1 1px solid; */
    font-size: 18px;
    height: 20px;
    line-height: 20px;
}

.nav_div table td a {
    color: #dbfffa;
}

.nav_div table td a:hover {
    color: #fff;
    font-weight: bold;
}

.daohang_div {
    padding: 0px;
}

.neirong_div {
    background: #FFF;
    min-height: 500px;
    margin-top: 20px;
    padding-top: 20px;
}

.left_div {
    min-height: 200px;
}

.right_div {
    min-height: 200px;
    padding-left: 15px;
}

.tatle_word {
    font-size: 19px;
    color: #0256b4;
    font-weight: bold;
    width: 82px;
}

.more_div {
    background: url(../img/tatle_bg.png) bottom left repeat-x;
    text-align: right;
}

.more_div a {
    background: #007ec9;
    color: #FFF;
    width: 50px;
    height: 25px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.more_div a:hover {
    color: #FFF;
    font-weight: bold;
    background: #0256b4;
}

.neirong01_div {
    background: #FFF;
    border: #eee 2px solid;
    margin-top: 10px;
    padding: 10px;
}

.neirong02_div {
    margin-top: 10px;
}

.tatle_word02 a {
    font-size: 16px;
    color: #007ec9;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

.tatle_word02 a:hover {
    color: #0256b4;
}

.neirong01_div img {
    margin-right: 5px;
}

.table_02 {
    color: #007ec9;
}

.con_tatle02 {
    margin-top: 20px;
}

.ico_01div {
    height: 84px;
    background: #0256b4 url(../img/ico01_bg.png) no-repeat left center;
    border-radius: 4px;
    padding-left: 90px;
    padding-top: 20px;
    margin-bottom: 10px;
    background-size: contain;
}

.ico_hover {
    color: #FFF;
    font-size: 22px;
}

.ico_hover a {
    color: #d2f4ff;
    font-size: 22px;
}

.ico_hover a:hover {
    color: #fff;
}

.shuzi a {
    color: #FF9;
    font-size: 16px;
    font-weight: bold;
}

.shuzi a:hover {
    color: #FFf;
}

.ico_02div {
    height: 84px;
    background: #007ec9 url(../img/ico02_bg.png) no-repeat left center;
    border-radius: 4px;
    padding-left: 90px;
    padding-top: 20px;
    margin-bottom: 20px;
    background-size: contain;
}

.ico_hover2 {
    color: #FFF;
    font-size: 22px;
}

.ico_hover2 a {
    color: #b7ecfe;
    font-size: 22px;
}

.ico_hover2 a:hover {
    color: #fff;
}

.news_div {
    margin-bottom: 15px;
    margin-top: 15px;
}

.news_tatle {
    background: url(../img/tatle_bg2.png) no-repeat left bottom;
}

.news_tatle_text {
    font-size: 16px;
    color: #0256b4;
    font-weight: bold;
}

.news_div_tatle {
    margin-bottom: 10px;
}

.more_div2 a {
    color: #979797;
    border: #c1c1c1 1px solid;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    border-radius: 14px;
}

.more_div2 a:hover {
    color: #FFF;
    font-weight: bold;
    background: #0256b4;
    border: #c1c1c1 0px solid;
}

.right_list a {
    color: #545454;
}

.right_list a:hover {
    color: #1663ba;
}

.ico_03div {
    background: #0268bd url(../img/ico03_bg.png) no-repeat;
    height: 70px;
    border-radius: 4px;
    padding-left: 70px;
    padding-top: 22px;
    margin-bottom: 20px;
    background-size: contain;
}

.ico_hover2 a {
    color: #b7ecfe;
    font-size: 22px;
}

.ico_hover2 a:hover {
    color: #fff;
}

.foot_div {
    background: #454241;
    color: #d7d7d7;
    padding-top: 20px;
    height: 55px;
    text-align: center;
}

@media (max-width: 1199px) {
    .logo_div01 img {
        height: 40px;
    }

    .photo_div {
        width: 15%;
        float: right;
    }

    .top_con_div .col-xs-6 {
        width: 56%;
    }

    .container {
        width: 1000px;
    }
}

/*.two_line_p {*/
/*position:relative;*/
/*line-height:1.4em;*/
/*!* 3 times the line-height to show 3 lines *!*/
/*height:4.2em;*/
/*overflow:hidden;*/
/*}*/
/*.two_line_p::after{*/
/*content:"...";*/
/*position:absolute;*/
/*bottom:0;*/
/*right:0;*/
/*padding:0 20px 1px 45px;*/
/*}*/
.sidebar .list-group-item.active, .sidebar .list-group-item.active:hover {
    background-color: #FFF;
}

.sidebar .list-group-item {
    font-size: 15px;
}

.collection p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

