html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,button {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
*{
    font-family: "微软雅黑";
}
body {
    min-width: 1200px;
    line-height:1;
}

:focus {
	outline: 1;
}

img{
    border:0;
}
a{
    text-decoration: none;
}
li{
    list-style:none;
}
.clear{
    clear:both;
}
input,select,textarea{
    -webkit-outline:none;
    outline: none;
    /*-webkit-appearance: none;*/
    /*appearance:none;*/
}